html, body, header, main {
  margin: 0;
  padding: 0;
}

#shop nav, #shop ul, #shop li, #shop h1, #shop h3{
  margin: 0;
  padding: 0;
}

#shop {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 78em) 1fr;
}

main {
  font-size: .9em;
  font-family: Arial, Helvetica, sans-serif;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 80% 20%;
}

main > h1{
  padding-top: 2cm;
  padding-bottom: 1cm;
  font-weight: lighter;
}

main a:link {
  color: rgb(4,168,226);
  text-decoration: none;
}

main li {
  list-style-type: none;
  padding: .2cm 0;
}

main p {
  font-size: 1.1em;
  margin: 1cm 0;
}

#shop header {
  text-transform: uppercase;
  padding: 1cm 0 .5cm 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(37,37,37);
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 78em 1fr;
}

#shop header h1 {
   grid-column-start: 2;
   margin-bottom: .5cm;
   letter-spacing: .2em;
   font-weight: lighter;
   letter-spacing: .1em;
   font-size: 2.4em;
}

#shop header nav {
   grid-column-start: 2;
   grid-column-end: 4;
   font-size: .6em;
   letter-spacing: .1em;
}

#shop header nav>ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#shop header nav li {
  display: inline-block;
  list-style: none;
  margin: 0 1cm;
}

#shop header nav li a:link {
  color: white;
  text-decoration: none;
}

#inventory-table {
  margin-top: 2cm;
  grid-column-start: 1;
  grid-column-end: 3;
}

#inventory-table h1{
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2em;
}

#inventory-table  table {
  margin-top: .5cm;
  width: 100%;
  border-top: thin solid rgb(221,221,221);
  border-bottom: thin solid rgb(221,221,221);
}

#inventory-table table th {
  display: none;
}

#inventory-table  table th[colspan="2"] {
  text-align: left;
}


#inventory-table tr {
  display: grid;
  grid-gap: 1cm;
  grid-template-columns: 125px 45% 2cm 1fr 1fr;
}

#inventory-table  table td {
  vertical-align: middle;
  align-self: center;
}

#inventory-table td h3 {
  font-weight: normal;
  color: black;
}

#inventory-table td p {
  margin: .4em 0;
}

#inventory-table  td {
  color: rgb(136, 151, 159);
  font-size: .9em;
}

#inventory-table  td:last-child {
  text-align: right;
}

.itemSizes {
  display: none;
}

#order-summary {
  grid-column-start: 2;
  grid-column-end: 3;
}

#order-summary dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

#order-summary dd {
  text-align: right;
}

aside h3, #order-summary:not(.tax-line) .line-items {
  display: none;
}

#shop #checkout-button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: .3cm .1cm;
  width: 100%;
  height: 1.5cm
}
