html, body, header, main, nav, ul, li, h1 {
  margin: 0;
  padding: 0;
}

#shop header {
  padding-top: 1cm;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(37,37,37);
  display: grid;
  grid-template-columns: auto 78em auto;
  grid-template-rows: auto auto;
}

#shop header h1 {
   grid-column-start: 2;
   border: 1px solid red;
   margin-bottom: .5cm;
   text-transform: uppercase;
   letter-spacing: .2em;
   font-weight: lighter;
}

#shop header nav {
   grid-column-start: 2;
}

#shop header nav>ul {
  border: 1px solid red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#shop header nav li {
  display: inline-block;
  list-style: none;
  margin: 0 1cm;
}

#shop header nav li a:link {
  color: white;
  text-decoration: none;
}
