@keyframes grow {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  100% {
    max-height: 500px;
    opacity: 1.0;
  }
}

#payment-sheet {
  padding: 0;
  width: 550px;
  top: 0;
  overflow: hidden;
  box-shadow: 0px 0px 35px -4px rgba(138, 138, 138, 0.77);
  border: thin solid rgb(204, 204, 204);
  border-top: none;
  background-color: white;
  position: fixed;
}

#payment-sheet>section {
  padding: .3cm;
}

#payment-sheet>section:last-child {
  padding: 0;
}

#payment-sheet-top-section { 
  background-color: rgb(251, 251, 251);
  border-bottom: thin solid rgb(212, 212, 212);
}

#payment-sheet h1 {
  background-color: rgb(251, 251, 251);
  color: rgb(74, 74, 74);
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: .4cm 0;
}

#payment-sheet h1 img {
  vertical-align: bottom;
  margin-right: .2cm;
}

#payment-sheet[open] {
  animation: grow .5s ease-out;
}

.paysheet-controls {
  margin-right: .3cm;
  text-align: right;
}

.paysheet-controls button {
  border-radius: 3px;
  height: .7cm;
  border: thin solid rgb(212, 212, 212);
  width: 2cm;
  margin-left: .3cm;
  background-color: rgb(242,242,242);
  color: rgb(61,61,61);
}

.paysheet-controls button:disabled {
  background-color: rgb(249,249,249);
  color: rgb(127,127,127);
  border-color: rgb(244,244,244);
}

.paysheet-controls button.continue:not([disabled]) {
  color: white;
  border: rgb(6, 117, 211);
  background-color: rgb(36, 138, 235);
}

#payment-sheet .payment-sheet-data-collector h2 {
  text-transform: none;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: .2cm 0 .5cm 0;
  border: none;
}

#payment-sheet #payment-methods-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: .5cm;
  overflow-x: auto;
  scroll-snap-type: proximity;
  scroll-snap-align: start none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(50%);
  padding-bottom: .5cm;
}

#payment-sheet #payment-methods-buttons label>input {
  visibility: hidden;
  position: absolute;
}

#payment-sheet #payment-methods-buttons label>input+img {
  cursor: pointer;
  border: 2px solid transparent;
}

#payment-sheet #payment-methods-buttons label>input+img {
  outline: none;
  margin: 0 .2cm;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(208, 208, 208);
  text-align: center;
  min-width: 45%;
  padding: .1cm;
}

#payment-sheet #payment-methods-buttons label>input+img:focus {
  border-color: rgb(127, 127, 127);
}



#payment-sheet #payment-methods-buttons label>input:checked+img {
  border-color: rgb(46, 167, 252);
}

#payment-sheet-host {
  margin: 0;
  padding: 0;
}

#payment-sheet-host p {
  padding-left: 1em;
  color: rgb(204, 204, 204);
  font-size: .7em;
  font-weight: lighter;
}

#payment-sheet-view-line-items-button:before {
  content: "▷";
  position: absolute;
  font-size: .5em;
  margin-left: -10px;
  margin-top: 4px;
}

#payment-sheet-view-line-items-button.open:before {
  position: absolute;
  font-size: .5em;
  content: "▽";
  margin-left: -10px;
  margin-top: 4px;
}

#payment-sheet-view-line-items-button {
  margin: 0;
  padding: 0;
  font-weight: initial;
  font-size: 1em;
  border: none;
  color: inherit;
  background-color: initial;
}

#payment-sheet table {
  grid-column-start: 1;
  width: 100%;
}

#payment-sheet #line-items-table td {
  padding: .2cm .3cm;
  vertical-align: top;
}

#payment-sheet #line-items-table td:last-child {
  text-align: right;
}

#payment-sheet-total {
  font-size: 1.1em;
  text-align: right;
}

#payment-sheet #line-items-table select {
  border: thin solid rgb(177, 177, 177);
  text-align: left;
}

#payment-sheet-total output {
  color: rgb(36, 138, 235);
  font-size: 1.2em;
}

#payment-sheet #line-items-list {
  list-style: none;
  padding: 0 .5cm;
  margin: 0;
}

#payment-sheet #line-items-list li {
  padding: .2cm 0;
}

#payment-sheet .showing .items-sum {
  display: none;
}


#payment-sheet .data-collector-shipping-address div {
  display: grid;
  grid-gap: .3cm;
  margin: .3cm ;
}

#payment-sheet .data-collector-shipping-address input, #payment-sheet .data-collector-shipping-address select {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  padding: .2cm;
  font-size: .9em;
}


#payment-sheet .data-collector-shipping-address div.split {
  grid-template-columns: 50% 48%;
}

#payment-sheet .data-collector-shipping-address div.two-thirds {
  grid-template-columns: 75% 23%;
}

#payment-sheet .data-collector-shipping-address input[type=text], #payment-sheet .data-collector-shipping-address input[type=tel] {
  justify-self: stetch;
  border: 1px solid rgb(188,188,188);
}

#payment-sheet .data-collector-shipping-address label {
  vertical-align: bottom;
  font-size: .8em;
}

#payment-sheet .data-collector-shipping-address input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

#payment-sheet .data-collector-shipping-address input:before {
  font-size: 1.3em;
  border: 1px solid rgb(55,167,251);
  content: "✓";
  overflow: clipped;
  text-align: center;
  position: relative;
  width: .5cm;
  height: .5cm;
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

#payment-sheet .data-collector-shipping-address input:checked:before{
  font-size: 1.3em;
  border: 1px solid rgb(55,167,251);
  content: "✓";
  overflow: clipped;
  text-align: center;
  position: relative;
  width: .5cm;
  height: .5cm;
  display: inline-block;
  color: rgb(55,167,251);
  margin: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}


#payment-sheet .credit-card-collector {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: .3cm;
}

#payment-sheet .credit-card-collector h3 {
  font-size: 1em;
  font-weight: normal;
  
}