@keyframes grow {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  100% {
    max-height: 500px;
    opacity: 1.0;
  }
}

@keyframes rotate90 {
  from {
    transform: rotate(0deg);
    translate: 0px 0px;
  }

  to {
    transform: rotate(90deg);
    translate: 0px 2px;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 20px; 
  }
}

#payment-sheet {
  font-size: 1em;
  padding: 0;
  width: 550px;
  top: 0;
  overflow: hidden;
  box-shadow: 0px 0px 35px -4px rgba(138, 138, 138, 0.77);
  border: thin solid rgb(204, 204, 204);
  border-top: none;
  background-color: white;
  position: fixed;
}

#payment-sheet>section {
  padding: .3cm;
}

#payment-sheet>section:last-child {
  padding: 0;
}

#payment-sheet-top-section { 
  background-color: rgb(251, 251, 251);
  border-bottom: thin solid rgb(212, 212, 212);
}

#payment-sheet h1 {
  background-color: rgb(251, 251, 251);
  color: rgb(74, 74, 74);
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding: .4cm 0;
}

#payment-sheet h1 img {
  vertical-align: bottom;
  margin-right: .2cm;
}

#payment-sheet[open] {
  animation: grow .5s ease-out;
}

.paysheet-controls {
  margin-right: .3cm;
  text-align: right;
}

.paysheet-controls button {
  border-radius: 3px;
  height: .7cm;
  border: thin solid rgb(212, 212, 212);
  width: 2cm;
  margin-left: .3cm;
  background-color: rgb(242,242,242);
  color: rgb(61,61,61);
}

.paysheet-controls button:disabled {
  background-color: rgb(249,249,249);
  color: rgb(127,127,127);
  border-color: rgb(244,244,244);
}

.paysheet-controls button.continue:not([disabled]) {
  color: white;
  border: rgb(6, 117, 211);
  background-color: rgb(36, 138, 235);
}

#payment-sheet .payment-sheet-data-collector {
  margin: 0 .4cm;
}

#payment-sheet .payment-sheet-data-collector h2 {
  text-transform: none;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: .2cm 0 .5cm 0;
  border: none;
}

#payment-sheet #payment-methods-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .5cm;
  overflow-x: auto;
  scroll-snap-type: proximity;
  scroll-snap-align: start none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(50%);
  padding-bottom: .5cm;
}

#payment-sheet #payment-methods-buttons label {
   justify-self: center;
}

#payment-sheet #payment-methods-buttons label>input {
  visibility: hidden;
  position: absolute;
}

#payment-sheet #payment-methods-buttons label>input+img {
  cursor: pointer;
  border: 2px solid transparent;
}

#payment-sheet #payment-methods-buttons label>input+img {
  outline: none;
  margin: 0 .2cm;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(208, 208, 208);
  text-align: center;
  min-width: 45%;
  padding: .1cm;
}

#payment-sheet #payment-methods-buttons label>input+img:focus {
  border-color: rgb(127, 127, 127);
}

#payment-sheet #payment-methods-buttons label>input:checked+img {
  border-color: rgb(46, 167, 252);
}

#payment-sheet-host {
  margin: 0;
  padding: 0;
}

#payment-sheet-host p {
  padding-left: 1em;
  color: rgb(204, 204, 204);
  font-size: .7em;
  font-weight: lighter;
}

#payment-sheet summary{
  list-style-type: none;
}

#payment-sheet summary:focus {
  outline: none;
}

#payment-sheet summary::-webkit-details-marker {
 display: none;
}

#payment-sheet summary::before {
 content: '▸'; 
 padding-right: 0.5em;
 display: inline-block;
 animation-direction: alternate;
}


#payment-sheet details[open] {
  color:rgb(0,150,246);
}

#payment-sheet details[open] table {
  animation-name: slideDown;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  height: 0px;
  overflow:hidden;
}

#payment-sheet details[open] > summary::before {
 color:rgb(0,150,246);
 animation: .2s rotate90;
 animation-fill-mode: forwards;
}


#payment-sheet table {
  grid-column-start: 1;
  width: 100%;
}

#payment-sheet #line-items-table td {
  color: rgb(154,152,152);
  padding: .2cm .0cm .1cm 1cm;
  vertical-align: top;
}

#payment-sheet #line-items-table td:first-child {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#payment-sheet #line-items-table td:last-child {
  text-align: right;
}

#payment-sheet-total {
  font-size: 1.1em;
  text-align: right;
}

#payment-sheet select {
  background-color: white;
  border-radius: 0;
  padding: .15cm;
  -webkit-appearance: none;
  border: thin solid rgb(171,171,171);
  text-align: left;
}

#payment-sheet-total output {
  color:rgb(0,150,246);
  font-size: 1.2em;
}

#payment-sheet #line-items-list {
  list-style: none;
  padding: 0 .5cm;
  margin: 0;
}

#payment-sheet #line-items-list li {
  padding: .2cm 0;
}

#payment-sheet .showing .items-sum {
  display: none;
}

#payment-sheet .data-collector-shipping-address {
  display: grid;
  grid-gap: .3cm;
  grid-template-columns: repeat(4, 1fr);
}

#payment-sheet .data-collector-shipping-address input {
  grid-column-start: 4;
  grid-column-end: 5;
}

#payment-sheet .data-collector-shipping-address .left-half {
  grid-column-start: 1;
  grid-column-end: 3;
}
#payment-sheet .data-collector-shipping-address .right-half {
  grid-column-start: 3;
  grid-column-end: 5;
}

#payment-sheet .data-collector-shipping-address .full {
  grid-column-start: 1;
  grid-column-end: 5;
}

#payment-sheet .data-collector-shipping-address .two-thirds {
  grid-column-start: 1;
  grid-column-end: 4;
}

#payment-sheet input[type=text], #payment-sheet input[type=tel], #payment-sheet select {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  border: 1px solid rgb(188,188,188);
  padding: .2cm;
  justify-self: stetch;
}

#payment-sheet label {
  vertical-align: bottom;
  font-size: .8em;
}

#payment-sheet input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

#payment-sheet input[type="checkbox"]:before {
  font-size: 1.3em;
  border: 1px solid rgb(55,167,251);
  content: "✓";
  overflow: clipped;
  text-align: center;
  position: relative;
  width: .5cm;
  height: .5cm;
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

#payment-sheet input[type="checkbox"]:checked:before {
  font-size: 1.4em;
  border: 1px solid rgb(55,167,251);
  content: "✓";
  overflow: clipped;
  text-align: center;
  position: relative;
  width: .5cm;
  height: .5cm;
  display: inline-block;
  color: rgb(55,167,251);
  margin: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

#payment-sheet .credit-card-collector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .3cm;
}

#payment-sheet .credit-card-collector h3 {
  font-size: 1em;
  font-weight: normal;
}

#payment-sheet #payment-sheet-shipping-options {
  padding: .3cm .4cm;
}

#payment-sheet .credit-card-details {
  display: grid;
  grid-gap: .3cm .3cm;
  grid-template-columns: 1fr 1fr;
}

#payment-sheet .credit-card-details .fullspan {
  grid-column-start: 1;
  grid-column-end: 3;
}



#payment-sheet input:required:invalid {
  border: thin solid red;
}
