body {
  font-family: sans-serif;
  max-width: 76em;
  margin: auto;
}

#shop form {
  display: grid;
  grid-template-columns: 75% 25%;
}

#shop .main-stuff[hidden] {
  display: none;
}

#shop h1,
#shop h2,
#shop h3 {
  text-transform: uppercase;
}

#shop body>h1{
  letter-spacing: .2em;
  font-weight: 100;
}

#shop table {
  grid-column-start: 1;
  width: 100%;
}

#shop h2 {
  border-top: thin solid rgb(235, 235, 235);
  border-bottom: thin solid rgb(235, 235, 235);
  text-align: center;
  padding: .5cm 0;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}

#shop table th {
  color: rgb(146, 146, 146);
  text-transform: uppercase;
  padding: .5cm 0;
  text-align: center;
  font-weight: 100;
}

#shop table th[colspan="2"] {
  text-align: left;
}

#shop table td {
  vertical-align: middle;
}

#shop td img {
  box-shadow: 3px 2px 4px 0px rgba(200, 200, 200, 0.75);
}

#shop td h3 {
  font-weight: normal;
  color: black;
}

#shop td {
  color: rgb(136, 151, 159);
  font-size: .9em;
}

#order-summary {
  display: subgrid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: rgb(235, 235, 235);
  padding: 0 .5cm .3cm .5cm;
}

#shop #order-summary h3 {
  font-weight: lighter;
  font-size: .9em;
  color: rgb(122, 122, 122);
  padding: 0.4cm 0;
  border-bottom: thin solid rgb(192, 192, 192);
  margin: 0;
}

#shop #order-summary dl {
  display: grid;
  grid-template-columns: 65% 35%;
  margin: 0;
}

#shop .shipping-options input {
  vertical-align: middle;
  margin: 0;
  padding-right: 0 1.2cm;
}

#shop .shipping-options dt {
  padding: .15cm 0;
}


#shop #order-summary dt {
  align-self: center;
}

#shop #order-summary dd {
  text-justify: end;
}


#shop .line-items dt, #shop .line-items dd {
  padding: .3cm 0 .3cm 0;
}

#shop .tax-line {
  border-bottom: 1px solid silver;
  margin-bottom: 1cm;
}


#shop #checkout-button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: lighter;
  padding: .3cm .1cm;
  width: 100%;
  height: 1.5cm
}

#shop select.itemsSelector {
  border: 2px solid rgb(222, 226, 230);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  padding: 0 0.3cm;
  font-size: 1em;
}


#shop #tax-line {
  margin-bottom: .7cm;
}

#shop dl.shipping-options {
  margin-bottom: 1cm; 
}

#payment-complete {
  margin-top: 50px;
}
